@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello World</h1>
<ul>
    <li>
        <a asp-page="/TicTacToe">Play Tic-Tac-Toe</a>
    </li>
    <li>
        <a asp-page="ServerTicTacToe">Play Tic Tac Toe server style</a>
    </li>
    <li>
        <a asp-page="/Checkers">Play Checkers</a>
    </li>
</ul>